<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="umbracoDbDSN"
        connectionString="server=DESKTOP-EPAPVP6\SQLEXPRESs01;database=jdj-markdown;user id=sa;password='P@55word'"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(name)" />
</connectionStrings>