<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="umbracoDbDSN"
        connectionString="server=.\sqlexpress01;database=umbraco;user id=sa;password='P@55word'"
        xdt:Transform="SetAttributes"
        xdt:Locator="Match(name)"/>
</connectionStrings>