.usync-snapshot-table-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.usync-snapshot-action-button-group {
    min-width: 280px;
    text-align: right;
}

.usync-snapshot-action-button-group > .btn {
    margin-right: 5px;
}