<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="jon@jondjones.com">
  <Info>
    <Comments />
    <Name>Jon</Name>
    <Username>jon@jondjones.com</Username>
    <Email>jon@jondjones.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEOPJbySrfv5ORimb/WRnFp5WNxKLP3x/ndnfggZHUg1v4v6bxLfXTgv8zOMfRIaYLg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
</User>