<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="test@test.com">
  <Info>
    <Comments />
    <Name>test@test.com</Name>
    <Username>test@test.com</Username>
    <Email>test@test.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEHyyemD2HzfTnt3k5zqWEmANGoLtZrSUqKfaRMxghU92g77i2YyrMc3SWMzHkAX6KQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>writer</Alias>
    </Group>
    <Group>
      <Alias>editor</Alias>
    </Group>
    <Group>
      <Alias>translator</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
</User>