<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="e32641cf-0000-0000-0000-000000000000" Alias="admin">
  <Info>
    <Sections>content,forms,media,member,myCustomSection,packages,settings,translation,users</Sections>
    <Icon>icon-medal</Icon>
    <Name>Administrators</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[I,P,K,F,ï,D,C,U,R,Z,A,O,M,S]]></Permission>
  </Info>
</UserGroup>