<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="78036ba9-0000-0000-0000-000000000000" Alias="editor">
  <Info>
    <Sections>content,forms,media</Sections>
    <Icon>icon-tools</Icon>
    <Name>Editors</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[C,A,D,M,O,S,K,T,P,U,Z,:,5,F,ï,N]]></Permission>
  </Info>
</UserGroup>