<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="4cb2f002-0000-0000-0000-000000000000" Alias="sensitiveData">
  <Info>
    <Sections></Sections>
    <Icon>icon-lock</Icon>
    <Name>Sensitive data</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[]]></Permission>
  </Info>
</UserGroup>