<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="b4ffd88c-0000-0000-0000-000000000000" Alias="translator">
  <Info>
    <Sections>translation</Sections>
    <Icon>icon-globe</Icon>
    <Name>Translators</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[A,F]]></Permission>
  </Info>
</UserGroup>