<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="6ea5a7b3-0000-0000-0000-000000000000" Alias="writer">
  <Info>
    <Sections>content</Sections>
    <Icon>icon-edit</Icon>
    <Name>Writers</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[C,A,H,:,F]]></Permission>
  </Info>
</UserGroup>