<?xml version="1.0" encoding="utf-8"?>
<Member Key="9cbc6ab6-093a-44c6-ace8-cd4e027822ee" Alias="jon@test.com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jon</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2022-02-11T12:35:44</CreateDate>
    <NodeName Default="jon" />
    <SortOrder>0</SortOrder>
    <Email>jon@test.com</Email>
    <Username>jon</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAEAACcQAAAAEGuUYJWxlgPHLEwFJoQb1SGB3vx+P0HdqcmaUWPHOg+1dPYXTHSKaSbsEe/f2h4b/g==</RawPassword>
  </Info>
  <Properties>
    <umbracoMemberApproved>
      <Value><![CDATA[1]]></Value>
    </umbracoMemberApproved>
    <umbracoMemberComments>
      <Value><![CDATA[Jon Is a Legend!]]></Value>
    </umbracoMemberComments>
    <umbracoMemberFailedPasswordAttempts>
      <Value><![CDATA[]]></Value>
    </umbracoMemberFailedPasswordAttempts>
    <umbracoMemberLastLockoutDate>
      <Value><![CDATA[]]></Value>
    </umbracoMemberLastLockoutDate>
    <umbracoMemberLastLogin>
      <Value><![CDATA[]]></Value>
    </umbracoMemberLastLogin>
    <umbracoMemberLastPasswordChangeDate>
      <Value><![CDATA[2022-02-11T12:35:44]]></Value>
    </umbracoMemberLastPasswordChangeDate>
    <umbracoMemberLockedOut>
      <Value><![CDATA[]]></Value>
    </umbracoMemberLockedOut>
  </Properties>
  <Groups>
    <Group>VIP Users</Group>
  </Groups>
</Member>