<div ng-controller="uSyncLicenceController as vm">
    <div ng-if="vm.loading">
        <umb-load-indicator></umb-load-indicator>
    </div>
    <div ng-show="!vm.loading">

        <div class="alert alert-{{vm.status.type}}">
            <i class="icon icon-check" ng-if="vm.status.type == 'success'"></i>
            <i class="icon icon-alert" ng-if="vm.status.type != 'success'"></i>
            {{vm.status.message}}
        </div>

        <umb-box>
            <umb-box-header title="uSync.Complete Licence"
                            description="">
                <a href="{{vm.status.link}}" ng-if="vm.status.link.length > 0" class="btn btn-success" target="_blank">
                    {{vm.status.linkTitle}}
                </a>
            </umb-box-header>
            <umb-box-content>
                <umb-control-group label="Licenced Domains"
                                   description="Domains licenced to">
                    <input type="text" class="umb-textstring umb-property-editor"
                           ng-model="vm.licence.domains" />
                </umb-control-group>

                <umb-control-group label="Licenced Key"
                                   description="Key for licence">
                    <input type="text" class="umb-textstring umb-property-editor"
                           ng-model="vm.licence.key" />
                </umb-control-group>

                <umb-control-group>
                    <umb-button action="vm.save()"
                                type="button"
                                button-style="action"
                                state="vm.buttonState"
                                label-key="buttons_save"
                                disabled="vm.buttonState === 'busy'">
                    </umb-button>
                </umb-control-group>
            </umb-box-content>
        </umb-box>

        <div class="alert alert-info" ng-if="vm.status.hasExpiry">
            <i class="icon icon-calendar-alt"></i>
            Licence expiry: {{vm.status.expires | date : 'fullDate'}}
        </div>

    </div>
</div>