<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cac04aa-8c0e-4682-a18f-35f819e59272" Alias="2022 02 22 15 21 37 New Window Microsoft Teams" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewWindowMicrosoftTeams</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-25T08:49:32</CreateDate>
    <NodeName Default="2022 02 22 15 21 37 New Window Microsoft Teams" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vqckylao/2022-02-22-15_21_37-new-window-_-microsoft-teams.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>