<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6708fee-0fa1-41ce-b262-0a86fa1e210a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-11-20T17:34:34</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>