<?xml version="1.0" encoding="utf-8"?>
<Media Key="a03e9a40-9395-4355-9305-77f9ab6a8b7d" Alias="Pic02" Level="2">
  <Info>
    <Parent Key="f6708fee-0fa1-41ce-b262-0a86fa1e210a">Home</Parent>
    <Path>/Home/Pic02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-11-20T17:35:15</CreateDate>
    <NodeName Default="Pic02" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i0nd3iev/pic02.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>