<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="alternate" type="application/rss+xml" title="Jon D Jones &raquo; Feed" href="http://www.jondjones.com/feed/" />
    <meta charset="UTF-8" />
    <meta name="robots" content="nofollow" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link href="~/rs-plugin/css/settings.css" media="screen" rel="stylesheet">
    <!-- CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/admin.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/fontello/css/fontello.css" rel="stylesheet">

</head>
<body>


    <div class="container-fluid">

        @RenderBody()

    </div>

    <script src="~/js/jquery-1.10.2.min.js"></script>

    <script src="~/js/superfish.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/retina.min.js"></script>
    <script src="~/js/validate.js"></script>
    <script src="~/js/jquery.placeholder.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/classie.js"></script>
    <script src="~/js/uisearch.js"></script>

</body>
</html>
