@model JonDJones.Core.ViewComponents.FooterViewModel

<!-- Footer -->
<section id="footer">

	@Html.GetBlockListHtml(Model.ComponentArea)

	<div id="copyright" class="container">
		<ul class="links">
			<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</section>

