<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09fbc168-6132-46a3-9fab-a7827b91f8a0" Alias="Card Container - Block List" Level="1">
  <Info>
    <Name>Card Container - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "da8379d8-34f4-4445-b5c3-11319a721e3f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Card Item",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>