<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5d183d1-845a-40df-8072-9cf76b7de92a" Alias="Compontent Footer Area" Level="1">
  <Info>
    <Name>Compontent Footer Area</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "cc46a3f8-26a7-48ef-8839-f6f4c1603d2d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Contact Us",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>