<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afceb983-c8b1-4696-ae7c-2b9841d2bfe3" Alias="Main Area" Level="1">
  <Info>
    <Name>Main Area</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "cc46a3f8-26a7-48ef-8839-f6f4c1603d2d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Contact Us Form",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Feature",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5a33b73e-804d-46c1-ae0d-9b232df468b2",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Card Container",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4e9944d0-7714-42a1-945b-6fb42cc0ca50",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Banner",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>