<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8aa442ac-548d-4bb5-981c-03f7c389eab1" Alias="Markdown" Level="1">
  <Info>
    <Name>Markdown</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisplayLivePreview": false,
  "DefaultValue": null,
  "OverlaySize": "medium"
}]]></Config>
</DataType>