<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e69adea7-471f-4cdd-99e7-733f6c126f68" Alias="Menu Item - Menu Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Menu Item - Menu Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 1,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>