<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f1ab8fd-b35d-4e81-98cd-3f960d0232cb" Alias="New - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>New - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": true
}]]></Config>
</DataType>