<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92897bc6-a5f3-4ffe-ae27-f2e7e33dda49" Alias="Truefalse" Level="1">
  <Info>
    <Name>Truefalse</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>