<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2d0d9631-0976-4b48-9d36-9722831d8fdf" Alias="Error" Level="1">
  <Info>
    <Parent>Form Validations</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">English Translation</Translation>
    <Translation Language="ne">Nepali Translation</Translation>
  </Translations>
</Dictionary>