<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1efb55d-2b6e-42ed-925a-605ec785f2ef" Alias="blogListing" Level="2">
  <Info>
    <Name>Blog Listing</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Parent>
    <Compositions>
      <Composition Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c60d753-3a38-4cd1-b1d7-74d88d5d3193" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>