<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d74ca2ff-12a0-43fd-ac84-d577deb95f91" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Parent>
    <Compositions>
      <Composition Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Composition>
    </Compositions>
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e1efb55d-2b6e-42ed-925a-605ec785f2ef" SortOrder="0">blogListing</ContentType>
    <ContentType Key="d39398c2-6196-4e9a-8fc1-4e6961ff2d17" SortOrder="1">search</ContentType>
    <ContentType Key="75f04268-17c7-4582-b212-140496991c55" SortOrder="2">loginPage</ContentType>
    <ContentType Key="b48c8cb9-5313-4b14-a73b-d0d3484beea8" SortOrder="3">cache</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>264c7247-d207-4f0e-8ddd-78f311c4a025</Key>
      <Name>Component Area</Name>
      <Alias>componentArea</Alias>
      <Definition>afceb983-c8b1-4696-ae7c-2b9841d2bfe3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2551da4-7581-41ee-a713-74583ec7f986</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fbe64fb9-2346-40e3-a3be-118d3be8c3cf</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>