<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75f04268-17c7-4582-b212-140496991c55" Alias="loginPage" Level="2">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Parent>
    <Compositions>
      <Composition Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5c60d753-3a38-4cd1-b1d7-74d88d5d3193" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>