<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aecf7dae-0026-445d-a92d-f44e6176dc58" Alias="menu" Level="2">
  <Info>
    <Name>Menu</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f136e26b-dc7c-4ff7-9151-27bb3acd4d9c" SortOrder="0">menuConainer</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>