<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f136e26b-dc7c-4ff7-9151-27bb3acd4d9c" Alias="menuConainer" Level="2">
  <Info>
    <Name>Menu Conainer</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9b859dc8-9f76-4479-8e47-73c89abb1bda" SortOrder="0">menuItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>