<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d39398c2-6196-4e9a-8fc1-4e6961ff2d17" Alias="search" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Parent>
    <Compositions>
      <Composition Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Composition>
    </Compositions>
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="99b5cddc-607c-40c9-bae3-f874876443df">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>