<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe91e048-7ac9-46a6-9d6f-43c91194c0ca" Alias="test" Level="2">
  <Info>
    <Name>Test</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Parent>
    <Compositions>
      <Composition Key="220d0611-be6e-4aab-9252-c2506af6f561">base</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>