<?xml version="1.0" encoding="utf-8"?>
<protect Key="7569de3a-12e9-4142-b9ce-d6fe3d8768d2" Alias="Secure">
  <Info>
    <Path>/Home/Login/Secure</Path>
    <LoginNode Key="4d36d941-8493-4ff7-9e04-e6e89ccca53f">/Home/Login</LoginNode>
    <NoAccessNode Key="4d36d941-8493-4ff7-9e04-e6e89ccca53f">/Home/Login</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberRole</RuleType>
      <RuleValue>VIP Users</RuleValue>
    </Rule>
  </Rules>
</protect>