@model Umbraco.Cms.Web.Common.PublishedModels.CardItem	
<div class="col-4 col-6-medium col-12-small">
	<!-- Feature -->
	<section>
		<a href="#" class="image featured"><img src="@Model.Image.Url()" alt="@Model.Title" /></a>
		<header>
			<h3>@Model.Title</h3>
		</header>
		<p>@Model.Content</p>
	</section>
</div>