<!DOCTYPE HTML>
<html>
<head>
    @await Component.InvokeAsync("MetaData")

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="homepage is-preload">

    <div id="page-wrapper">

         @await Component.InvokeAsync("Header")

        @RenderBody()

        <cache expires-after="@TimeSpan.FromMinutes(5)">
            @await Component.InvokeAsync("Footer")
        </cache>
    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>