<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5822662-d2b7-4e59-aa68-4ecc2a54c3c2" Alias="404 Page" Level="3">
  <Info>
    <Parent Key="3fd210b0-8a62-4e58-96eb-9ca22f488499">Blog Listing</Parent>
    <Path>/EN/BlogListing/Page</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-05-20T09:25:54</CreateDate>
    <NodeName Default="404 Page">
      <Name Culture="en-us">404 Page</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fa51596e-6657-4dc7-b283-9354be1c0ddf">Blog</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[404 Page, this is a 404 page severed from a content finder!]]></Value>
    </content>
    <displayHeader>
      <Value><![CDATA[1]]></Value>
    </displayHeader>
    <image>
      <Value><![CDATA[[
  {
    "key": "3ffc17e1-1328-4125-a045-05a96add08fe",
    "mediaKey": "662af6ca-411a-4c93-a6c7-22c4845698e7",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
    <postDate>
      <Value Culture="en-us"><![CDATA[2022-05-20T09:25:54]]></Value>
    </postDate>
    <subTitle>
      <Value Culture="en-us"><![CDATA[404 Page - Content Finder]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[404 Page - Content Finder]]></Value>
    </title>
    <unpublishedTutorial>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </unpublishedTutorial>
  </Properties>
</Content>