<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fd210b0-8a62-4e58-96eb-9ca22f488499" Alias="Blog Listing" Level="2">
  <Info>
    <Parent Key="1b240f84-a46e-490c-b05d-56aeedfdb5c7">Home</Parent>
    <Path>/Home/BlogListing</Path>
    <Trashed>false</Trashed>
    <ContentType>blogListing</ContentType>
    <CreateDate>2022-01-05T13:56:47</CreateDate>
    <NodeName Default="Blog Listing" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayHeader>
      <Value><![CDATA[]]></Value>
    </displayHeader>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
  </Properties>
</Content>