<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3a19154-ff46-403a-b65d-511b60941342" Alias="Caching" Level="3">
  <Info>
    <Parent Key="d8614148-be0c-46f5-8bc7-a993e665a400">Header</Parent>
    <Path>/Menu/Header/Caching</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2022-07-06T12:21:34</CreateDate>
    <NodeName Default="Caching" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[]]]></Value>
    </links>
    <menuLink>
      <Value><![CDATA[[{"name":"Caching Example","udi":"umb://document/e808463785dd4a52b266958a9ac1efca"}]]]></Value>
    </menuLink>
  </Properties>
</Content>