<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc71dd72-e8bd-4366-bd3c-410f885e5be9" Alias="Controller Examples" Level="3">
  <Info>
    <Parent Key="d8614148-be0c-46f5-8bc7-a993e665a400">Header</Parent>
    <Path>/Menu/Header/ControllerExamples</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2021-11-18T18:49:47</CreateDate>
    <NodeName Default="Controller Examples" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[{"name":"UmbracoAuthorizedController","url":"umbraco/backoffice/Backend/index"},{"name":"UmbracoApiController","url":"/Umbraco/Api/MyApi/GetSomeData"},{"name":"UmbracoAuthorizedApiController","url":"/umbraco/backoffice/api/secure/index"},{"name":"Controller","url":"/vanilla"}]]]></Value>
    </links>
    <menuLink>
      <Value><![CDATA[]]></Value>
    </menuLink>
  </Properties>
</Content>