<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c93f803-c68c-4dfc-bc37-fb924e9ef990" Alias="DE" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DE</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-17T14:28:05</CreateDate>
    <NodeName Default="DE" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <componentArea>
      <Value><![CDATA[]]></Value>
    </componentArea>
    <displayHeader>
      <Value><![CDATA[1]]></Value>
    </displayHeader>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
  </Properties>
</Content>