<?xml version="1.0" encoding="utf-8"?>
<Content Key="9251c712-a133-4520-ae70-362431037ba3" Alias="Dropdown" Level="3">
  <Info>
    <Parent Key="d8614148-be0c-46f5-8bc7-a993e665a400">Header</Parent>
    <Path>/Menu/Header/Dropdown</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2021-11-18T18:49:30</CreateDate>
    <NodeName Default="Dropdown" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[{"name":"Magna phasellus","url":"#"},{"name":"Magna phasellus","url":"#"},{"name":"Magna phasellus","url":"#"},{"name":"Magna phasellus","url":"#"}]]]></Value>
    </links>
    <menuLink>
      <Value><![CDATA[]]></Value>
    </menuLink>
  </Properties>
</Content>