<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b038095-c0aa-4ab2-bc6b-3dc67e607027" Alias="FR" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FR</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-17T14:26:48</CreateDate>
    <NodeName Default="FR" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <componentArea>
      <Value><![CDATA[]]></Value>
    </componentArea>
    <displayHeader>
      <Value><![CDATA[1]]></Value>
    </displayHeader>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
  </Properties>
</Content>