<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d36d941-8493-4ff7-9e04-e6e89ccca53f" Alias="Login" Level="2">
  <Info>
    <Parent Key="1b240f84-a46e-490c-b05d-56aeedfdb5c7">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2022-02-10T11:28:54</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayHeader>
      <Value><![CDATA[0]]></Value>
    </displayHeader>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
  </Properties>
</Content>