<?xml version="1.0" encoding="utf-8"?>
<Content Key="f330642d-ceec-48ca-875a-2ab5b49161d4" Alias="Login" Level="3">
  <Info>
    <Parent Key="d8614148-be0c-46f5-8bc7-a993e665a400">Header</Parent>
    <Path>/Menu/Header/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2021-11-18T18:50:29</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[]]]></Value>
    </links>
    <menuLink>
      <Value><![CDATA[[{"name":"Login","udi":"umb://document/4d36d94184934ff79e04e6e89ccca53f"}]]]></Value>
    </menuLink>
  </Properties>
</Content>