<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c972134-e3ba-46ac-986d-15f991717ee3" Alias="Menu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Menu</Path>
    <Trashed>false</Trashed>
    <ContentType>menu</ContentType>
    <CreateDate>2021-11-18T18:48:46</CreateDate>
    <NodeName Default="Menu" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>