<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bef55f6-e53e-4eec-abbe-cd6cad354555" Alias="New Node Name (1)" Level="2">
  <Info>
    <Parent Key="1b240f84-a46e-490c-b05d-56aeedfdb5c7">Home</Parent>
    <Path>/Home/NewNodeName1</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-02-16T15:06:03</CreateDate>
    <NodeName Default="New Node Name (1)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa51596e-6657-4dc7-b283-9354be1c0ddf">Blog</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <displayHeader>
      <Value><![CDATA[]]></Value>
    </displayHeader>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
    <postDate>
      <Value><![CDATA[2022-02-16T15:06:03]]></Value>
    </postDate>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[hello]]></Value>
    </title>
    <unpublishedTutorial>
      <Value><![CDATA[1]]></Value>
    </unpublishedTutorial>
  </Properties>
</Content>