<?xml version="1.0" encoding="utf-8"?>
<Content Key="18689253-1d76-40da-a5d6-033574c7db6b" Alias="no save" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/noSave</Path>
    <Trashed Parent="3fd210b0-8a62-4e58-96eb-9ca22f488499">true</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-01-06T14:57:02</CreateDate>
    <NodeName Default="no save" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="fa51596e-6657-4dc7-b283-9354be1c0ddf">Blog</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[no save]]></Value>
    </content>
    <displayHeader>
      <Value><![CDATA[]]></Value>
    </displayHeader>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
    <postDate>
      <Value><![CDATA[2022-01-06T14:57:02]]></Value>
    </postDate>
    <subTitle>
      <Value><![CDATA[no save]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[no save]]></Value>
    </title>
    <unpublishedTutorial>
      <Value><![CDATA[]]></Value>
    </unpublishedTutorial>
  </Properties>
</Content>