<?xml version="1.0" encoding="utf-8"?>
<Content Key="adb1786d-7e30-46c6-97d2-af82a74586d6" Alias="Search Page" Level="3">
  <Info>
    <Parent Key="d8614148-be0c-46f5-8bc7-a993e665a400">Header</Parent>
    <Path>/Menu/Header/SearchPage</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2021-11-18T18:49:19</CreateDate>
    <NodeName Default="Search Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[]]]></Value>
    </links>
    <menuLink>
      <Value><![CDATA[[{"name":"Search","udi":"umb://document/88d31bf77c494da9baff9dc75357de05"}]]]></Value>
    </menuLink>
  </Properties>
</Content>