<?xml version="1.0" encoding="utf-8"?>
<Content Key="88d31bf7-7c49-4da9-baff-9dc75357de05" Alias="Search" Level="2">
  <Info>
    <Parent Key="1b240f84-a46e-490c-b05d-56aeedfdb5c7">EN</Parent>
    <Path>/EN/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2022-01-05T13:56:36</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99b5cddc-607c-40c9-bae3-f874876443df">Search</Template>
  </Info>
  <Properties>
    <displayHeader>
      <Value><![CDATA[1]]></Value>
    </displayHeader>
    <keyword>
      <Value><![CDATA[Add a query string param called `searchTerm` to search.]]></Value>
    </keyword>
  </Properties>
</Content>