<?xml version="1.0" encoding="utf-8"?>
<Content Key="7569de3a-12e9-4142-b9ce-d6fe3d8768d2" Alias="Secure" Level="3">
  <Info>
    <Parent Key="4d36d941-8493-4ff7-9e04-e6e89ccca53f">Login</Parent>
    <Path>/EN/Login/Secure</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-02-11T11:24:02</CreateDate>
    <NodeName Default="Secure">
      <Name Culture="en-us">Secure</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fa51596e-6657-4dc7-b283-9354be1c0ddf">Blog</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="en-us"><![CDATA[Secure]]></Value>
    </content>
    <displayHeader>
      <Value><![CDATA[1]]></Value>
    </displayHeader>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
    <postDate>
      <Value Culture="en-us"><![CDATA[2022-02-11T11:23:17]]></Value>
    </postDate>
    <subTitle>
      <Value Culture="en-us"><![CDATA[Secure]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Secure]]></Value>
    </title>
    <unpublishedTutorial>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </unpublishedTutorial>
  </Properties>
</Content>