<?xml version="1.0" encoding="utf-8"?>
<Content Key="c07a7330-445e-4b8e-aa47-282c7e876b90" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2021-11-20T12:13:52</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <componentArea>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/56ff83df313f4cfba874d3f3456dd6e0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "cc46a3f8-26a7-48ef-8839-f6f4c1603d2d",
      "udi": "umb://element/56ff83df313f4cfba874d3f3456dd6e0"
    }
  ],
  "settingsData": []
}]]></Value>
    </componentArea>
    <memberPageUrl>
      <Value><![CDATA[umb://document/7569de3a12e94142b9ced6fe3d8768d2]]></Value>
    </memberPageUrl>
  </Properties>
</Content>