<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee1ccde2-8d57-4480-aad3-8d7d39f90627" Alias="Sitemap" Level="3">
  <Info>
    <Parent Key="d8614148-be0c-46f5-8bc7-a993e665a400">Header</Parent>
    <Path>/Menu/Header/Sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>menuItem</ContentType>
    <CreateDate>2021-11-18T18:50:10</CreateDate>
    <NodeName Default="Sitemap" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[]]]></Value>
    </links>
    <menuLink>
      <Value><![CDATA[[{"name":"/sitemap.xml","url":"/sitemap.xml"}]]]></Value>
    </menuLink>
  </Properties>
</Content>