<?xml version="1.0" encoding="utf-8"?>
<Content Key="aeb44cda-e2df-48da-ac6c-244c661beddb" Alias="SOMETHING OF LESS NOTE" Level="3">
  <Info>
    <Parent Key="3fd210b0-8a62-4e58-96eb-9ca22f488499">Blog Listing</Parent>
    <Path>/Home/BlogListing/SOMETHINGOFLESSNOTE</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-01-05T13:58:35</CreateDate>
    <NodeName Default="SOMETHING OF LESS NOTE" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur leo nibh, rutrum eu malesuada in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id in, tristique at erat lorem ipsum dolor sit amet lorem ipsum sed consequat magna tempus veroeros lorem sed tempus aliquam lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phasellus laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam viverra sit amet mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur leo nibh, rutrum malesuada.]]></Value>
    </content>
    <displayHeader>
      <Value><![CDATA[]]></Value>
    </displayHeader>
    <image>
      <Value><![CDATA[[
  {
    "key": "40b74960-2f61-4779-94a7-753ca419caf1",
    "mediaKey": "6e7f25a7-e836-49e8-96f1-14e8cbea647b",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </image>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
    <postDate>
      <Value><![CDATA[2022-02-16T13:09:48]]></Value>
    </postDate>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[SOMETHING OF LESS NOTE]]></Value>
    </title>
    <unpublishedTutorial>
      <Value><![CDATA[1]]></Value>
    </unpublishedTutorial>
  </Properties>
</Content>