<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e7b3d79-3f81-45e7-a45c-9c3b5f630050" Alias="Unsaveds" Level="3">
  <Info>
    <Parent Key="3fd210b0-8a62-4e58-96eb-9ca22f488499">Blog Listing</Parent>
    <Path>/Home/BlogListing/Unsaveds</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2022-01-06T14:46:42</CreateDate>
    <NodeName Default="Unsaveds" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa51596e-6657-4dc7-b283-9354be1c0ddf">Blog</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[Unpublished]]></Value>
    </content>
    <displayHeader>
      <Value><![CDATA[]]></Value>
    </displayHeader>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <keyword>
      <Value><![CDATA[]]></Value>
    </keyword>
    <postDate>
      <Value><![CDATA[2022-01-20T00:00:00]]></Value>
    </postDate>
    <subTitle>
      <Value><![CDATA[Unpublished]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Unpublisheds]]></Value>
    </title>
    <unpublishedTutorial>
      <Value><![CDATA[0]]></Value>
    </unpublishedTutorial>
  </Properties>
</Content>